
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <script type="module" src="/css/firebase.js"></script>
    <script type="module" src="/css/auth.js"></script>
     <link rel="stylesheet" href="/css/home.css">
    
</head>
<body>
    <h1>Register</h1>
    <form id="registerForm">
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="password" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>
