<h1>Room {{ roomName }}</h1>
<div id="messages"></div>
<form id="messageForm">
    <input type="text" id="nicknameInput" placeholder="Enter your nickname" required>
    <input type="text" id="messageInput" placeholder="Enter your message" required>
    <button type="submit">Send</button>
</form>
<script src="/main.js"></script>
