<h1>Room {{ roomName }}</h1>
<div id="roomName" style="display:none;">{{ roomName }}</div>
<div id="messages"></div>
<form id="messageForm">
  <input type="text" id="nicknameInput" placeholder="Enter your nickname" required>
  <input type="text" id="messageInput" placeholder="Enter your message" required>
  <button type="submit">Send</button>
</form>
<form id="searchForm">
  <input type="text" id="searchInput" placeholder="Search messages">
  <button type="submit">Search</button>
</form>
<script src="/css/main.js"></script>
