body {
    background-color: white;
    margin: 0 auto;
    text-align: center;
    font-family: Poppins, sans-serif;
}

body div {
    margin: 0 auto;
}

h1 {
    color: #0C3AC4;
}

#messageHeader {
    color: #2d2e32;
  
}

#messages {
    color: #555;
    background-color: #f3f4f6;
    width: 500px;
    height: 300px;
    border-radius: 5px; 
    position: relative;
    overflow-x: auto;    
    overflow-y: auto;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    padding-bottom: 50px;
}

form {
    margin-top: 20px;
}

form input {
    margin-bottom: 30px; 
}

input[type="text"] {
    padding: 8px;
    margin: 5px;
    border: 1px solid #0C3AC4; 
    border-radius: 5px;
    box-sizing: border-box; 
}

button {
    padding: 8px; 
    border: none; 
    border-radius: 5px; 
    background-color: #0C3AC4;
    color: white; 
    cursor: pointer; 
}

button:hover {
    background-color: #0D0E56;
}
